<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"
></ngx-loading>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">Tambah Data User Level</div>
        <div class="card-body">
          <form
            class="md-float-material"
            [formGroup]="myForm"
            (ngSubmit)="onSubmit()"
            (keydown.enter)="$event.preventDefault()"
          >
            <div class="form-group">
              <label class="col-form-label">Name</label>
              <input
                class="form-control"
                type="text"
                placeholder="Name"
                formControlName="name"
              />
              <span
                class="messages text-danger"
                *ngIf="!myForm.get('name').valid && myForm.get('name')"
                >* Harus diisi</span
              >
              <span class="md-line"></span>
            </div>
            <div class="form-group">
              <label class="col-form-label">Description</label>
              <input
                class="form-control"
                type="text"
                placeholder="Description"
                formControlName="description"
              />
              <span
                class="messages text-danger"
                *ngIf="
                  !myForm.get('description').valid && myForm.get('description')
                "
                >* Harus diisi</span
              >
              <span class="md-line"></span>
            </div>
            <div class="form-group">
              <label class="col-form-label">Status Aktif</label>
              <label class="c-switch c-switch-success" style="display: block">
                <input
                  type="checkbox"
                  class="c-switch-input"
                  formControlName="is_active"
                />
                <span class="c-switch-slider"></span>
              </label>
              <span
                class="messages text-danger"
                *ngIf="
                  !myForm.get('is_active').valid && myForm.get('is_active')
                "
                >* Harus diisi</span
              >
              <span class="md-line"></span>
            </div>
            <div class="form-group row">
              <div class="col-sm-6 col-xl-6"></div>
              <div class="col-sm-3 col-xl-3">
                <button
                  class="btn btn-danger btn-md btn-block m-1"
                  type="button"
                  (click)="showBack()"
                >
                  <i class="icofont icofont-error"></i>Batal
                </button>
              </div>
              <div class="col-sm-3 col-xl-3">
                <button
                  class="btn btn-success btn-md btn-block m-1"
                  type="submit"
                  [disabled]="!myForm.valid"
                >
                  <i class="icofont icofont-diskette"></i>Simpan
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
